$overlay-initial-color: #40c8f4;
$overlay-end-color: #2179b5;

$input-label-color: #999999;
$input-no-focus-color: #efeeed;
$input-focus-color: #555555;
$input-no-focus-border-color: #dbdbdb;
$input-focus-border-color: #555555;

$button-enabled-text-color: #ffffff;
$button-enabled-background-color: #40c8f4;
$button-disabled-text-color: #dddcdc;
$button-disabled-background-color: #f6f6f6;
